- extends 'base.haml'

- block extrahead
    :css
        @media (max-width: 480px) {
            .item {
                padding: 0.5em;
            }
        }
        .panel-heading{
            cursor: pointer;
        }


- block body
    #words.panel-group
        - for group in word_groups
            .panel.panel-default
                .panel-heading{
                    data-toggle: 'collapse',
                    data-parent: '#words',
                    data-target: '#word_group_{{ group.id }}',
                }
                    Word Group
                    {{ group.id }}
                .panel-collapse.collapse{
                    id: 'word_group_{{ group.id }}',
                }
                    .panel-body
                        .row
                            .col-md-2.item
                                %a.btn.btn-primary.btn-block{
                                    href: '{% url "words:mark_group_viewed" group.id %}',
                                    rel: 'ajax-post',
                                }
                                    Mark All
                            - for word in group.active_words
                                .col-md-2.item
                                    %a.btn.btn-default.btn-block{
                                        href: '{% url "words:mark_word_viewed" word.id %}',
                                        rel: 'ajax-post',
                                    }
                                        {{ word }}
                                        ({{ word.views }})
